
<!-- table zwave_devices search -->
<div class="form-inline">
   <img src="/img/modules/dev_ujin.png"  width="30" height="30" class="form-group">
   <h2 class="form-group" style="margin: 0 0;">Ujin devices</h2>
   [#if CYCLERUN!=1#]
      <span class="form-group label label-danger" title="<#LANG_XIMI_APP_CYCLE_STATE#>">Цикл остановлен</span>
   [#endif#]
</div><br>

<div class="collapse" id='api_settings'>
&nbsp;
<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
<fieldset>
<div class="form-group">
 <label class="control-label">
 Режим отладки:
 </label>
	<div class="btn-group controls" style="margin-left:0px" data-toggle="buttons">
		<label class="btn [#if DEBUG=="true"#]btn-primary[#else#]btn-default[#endif#]">
			<input type="radio" name="debug" value="true" [#if DEBUG=="true"#] checked[#endif#]> <#LANG_ON#>
		</label>
		<label class="btn [#if DEBUG==""#]btn-primary[#else#]btn-default[#endif#]">
			<input type="radio" name="debug" value="" [#if DEBUG==""#] checked[#endif#]> <#LANG_OFF#>
		</label>
	</div>
</div>
[#if DEBUG=="true"#]
<blockquote class="blockquote">
Служебная информация
<div class="form-group">
 <label class="control-label">
 Длина буфера UDP:
 </label>
 <div class="controls"><input type="text" name="buff" value="[#BUFF#]" class="input"></div>
</div>
</blockquote>
[#else#]
<input type="text" name="buff" value="[#BUFF#]" class="input" hidden>
[#endif DEBUG#]
<div class="form-actions">
<button type="submit" name="subm" value="Submit" class="btn btn-primary"><#LANG_UPDATE#></button>
<input type="hidden" name="view_mode" value="update_settings">
<input type="hidden" name="mode" value="update">
</div>
</fieldset>
</form>
</div>
 <!-- action usual -->
 [#if DATA_SOURCE="dev_ujin_devices" || DATA_SOURCE=""#]
 <!-- table dev_ujin_devices search -->
 [#if VIEW_MODE="search_dev_ujin_devices" || VIEW_MODE=""#]
  [#inc dev_ujin_devices_search_admin.html#]
 [#endif VIEW_MODE#]
 <!-- / table dev_ujin_devices search -->
 <!-- table dev_ujin_devices edit -->
 [#if VIEW_MODE="edit_dev_ujin_devices"#]
   [#if ID!=""#]
   [#if TITLE!=""#]<h4>[#TITLE#]</h4>[#endif TITLE#]
<ul class="nav nav-tabs">
  <li[#if TAB=""#] class="active"[#endif#]>
   <a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab="><#LANG_GENERAL#></a>
  </li>
  <li[#if TAB="data"#] class="active"[#endif#]>
   <a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab=data">&#060#LANG_DATA#&#062</a>
  </li>
</ul>
&nbsp;<br/>
   [#endif ID#]
   [#if TAB=""#]
    [#inc dev_ujin_devices_edit_default.html#]
   [#endif TAB#]
   [#if TAB="data"#]
    [#inc dev_ujin_devices_edit_data.html#]
   [#endif TAB#]
 [#endif VIEW_MODE#]
 <!-- / table dev_ujin_devices edit -->
 <!-- table dev_ujin_devices view --> 
 [#if VIEW_MODE="view_dev_ujin_devices"#]
   [#if TAB=""#]
    [#inc dev_ujin_devices_view_default.html#]
   [#endif TAB#]
 [#endif VIEW_MODE#]
 <!-- / table dev_ujin_devices view -->
 [#endif DATA_SOURCE#]
 <!-- action usual -->
 [#if DATA_SOURCE="dev_ujin_data"#]
 <!-- table dev_ujin_data search -->
 [#if VIEW_MODE="search_dev_ujin_data" || VIEW_MODE=""#]
  [#inc dev_ujin_data_search_admin.html#]
 [#endif VIEW_MODE#]
 <!-- / table dev_ujin_data search -->
 <!-- table dev_ujin_data edit -->
 [#if VIEW_MODE="edit_dev_ujin_data"#]
   [#inc dev_ujin_data_edit.html#]
 [#endif VIEW_MODE#]
 <!-- / table dev_ujin_data edit -->
 <!-- table dev_ujin_data view --> 
 [#if VIEW_MODE="view_dev_ujin_data"#]
   [#inc dev_ujin_data_view.html#]
 [#endif VIEW_MODE#]
 <!-- / table dev_ujin_data view -->
 [#endif DATA_SOURCE#]
